@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Quicksand-Medium';
    src: url('/src/assets/fonts/Quicksand-Medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Quicksand-Light';
    src: url('/src/assets/fonts/Quicksand-Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  